<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <% if(posts === posts) { %>
        <div class="col-lg-offset-2 col-lg-8">
          <h2>Recent Posts</h2>
          <% for(var i=0; i<posts.length; i++) {%>
            <div id="onePost">
              <a href='/posts/<%= posts[i].id %>'>
              <br><b><span style="font-size: 18px;"><%= posts[i].title %></span></b>
              <br><br><%= posts[i].category %></a>
              <br><%= posts[i].tldr %>
              <br><%= posts[i].content %><br><br>
            </div>
          <% } %>
          <br>
        <a class="btn btn-default btn-sm active" href='/posts/new' role="button">New Post</a>
        </div;>
    <%} else {
          res.redirect('/')
      }%>
      <br>
  <footer>
      <% include ../partials/footer %>
  </footer>

  </body>
</html>
