<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/logout" title="">Logout</a>
    <%
      if(posts === posts) { %>
        <div class="container" id="container">
          <h1>Recent Posts</h1>
          <% for(var i=0; i<posts.length; i++) {%>
          <div id="onePost">
            <a href='/posts/<%= posts[i].id %>'><br><%= posts[i].title %></a><br><br><%= posts[i].category %><br><%= posts[i].tldr %><br><%= posts[i].content %><br><br>
          </div>
          <% } %>
        <br><br><br><br><a href='/posts/new'>New Post</a>
        <br><a href='/'>Home</a><br>
        <a href='/logged_in' title="">Back</a>
        </div;>
      <%} else {
          res.redirect('/')
      }%>
  </body>
</html>
