<!DOCTYPE html>
<html>
  <head>
    <title>View Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <div class="row" id="showOnePost">
       <div class="col-lg-offset-2 col-lg-8">
        <h2>Check out this post!</h2><br>
        <b>title:</b> <%= post.title %><br><br>
        <b>TLDR:</b> <%= post.tldr %><br><br>
        <b>category:</b> <%= post.category %><br><br>
        <b>content:</b> <%= post.content %><br><br>
        <b>submitted by:</b> <%= post.user %><br><br>
        <% if ( post.user === user.githubUsername ) { %>
          <a href='/posts/<%= post.id %>/edit'>Edit</a><br>
        <%}%>
      </div>
    </div>
    <a class="btn btn-default btn-sm active" href='/posts' role="button">Back</a>


    <footer>
    <% include ./partials/footer %>
    </footer>
  </body>
</html>
