<!DOCTYPE html>
<html>
  <head>
    <title>View Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Check out this post lol</h2><br>
    <b>title:</b> <%= post.title %><br><br>
    <b>TLDR:</b> <%= post.tldr %><br><br>
    <b>category:</b> <%= post.category %><br><br>
    <b>content:</b> <%= post.content %><br><br>
    <b>submitted by:</b> <%= post.user %><br><br>
    <% if ( post.user === user.githubUsername ) { %>
      <a href='/posts/<%= post.id %>/edit'>Edit</a><br>
    <%}%>
    <a href='/posts'>Back</a>
  </body>
</html>
