<!DOCTYPE html>
<html>
  <head>
    <title>View Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Check out this post lol</h2><br>
    <b>title:</b> <%= post.title %><br><br>
    <b>category:</b> <%= post.category %><br><br>
    <b>content:</b> <%= post.content %><br><br>
<<<<<<< HEAD
=======
    <b>content:</b> <%= post %><br><br>
>>>>>>> la-mari-master
    <a href='/posts/<%= post.id %>/edit'>Edit</a><br>
    <a href='/posts'>Back</a>
  </body>
</html>
