<!DOCTYPE html>
<html>
  <head>
    <title>Edit Your Question</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Make updates to your question below:</h1>

    <form method="post" action="/questions/<%= question._id %>?_method=PATCH">
      <input type="text" name="title" value="<%=question.title%>">
      <br>
      <input name="category" placeholder="category" value="<%=question.category%>"></input>
      <br>
      <textarea name="body" rows=20 cols=40><%=question.content%></textarea>
      <br>
      <input type=submit value="submit">
    </form>
    <a href="/questions/new" id:"addQuestion">Add Question</a>
    <form method="post" action="/questions/<%= question._id %>?_method=DELETE">
      <button type='submit'>Delete</button>
    </form>
    <a href="/questions">Back</a>
    <a href="/">Logout</a>
  </body>
</html>
